
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#barraDesplegable" aria-controls="barraDesplegable" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="barraDesplegable">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/home" tabindex="-2"><i class="fas fa-home mr-1"></i>Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/citas" tabindex="-1"><i class="fas fa-address-card mr-1"></i>Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pacientes" tabindex="-1"><i class="fas fa-hospital-user mr-1"></i>Pacientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/doctor" tabindex="-1"><i class="fas fa-user-md mr-1"></i>Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/inventario" tabindex="-1"><i class="fas fa-warehouse mr-1"></i>Inventario</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <button class="btn text-secondary my-2 my-sm-0 mr-1" type="submit"><i class="fas fa-cog mr-1"></i>Configuracion</button>
      <button class="btn text-secondary my-2 my-sm-0" type="submit"><i class="fas fa-question-circle mr-1"></i>Ayuda</button>
    </form>
  </div>
  </nav>
